<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.12.0/build/cssreset/cssreset-min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/levelsfm.css" />
		<meta name="description" content="" />
		<meta name="og:title" content="" />
		<meta name="og:description" content="" />
		<meta name="og:image" content="" />
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<header class="site-header">
			<menu id="user" class="user-menu">
				Hello, <span id="user-name-label"></span>
				<a href="#logout" class="user-logout-link" data-router="ignore">Logout</a>
			</menu>
			<h1 class="site-title">Levels.fm</h1>
		</header>
		<section id="content" class="content">
			
		</section>
		<script src="/js/levelsfm.js"></script>
	</body>
</html>